body {
  padding: 0;
  margin: 0;

  height: 100vh;
}

span {
  color: red;
}

header {
  position: fixed;
  top: 0;
  text-align: center;
  width: 100%;
  background-color: bisque;
}

main {
  margin-top: 2rem;

  height: 80%;
  /* display: flex;
    flex-direction: column;
    justify-content:space-evenly; */
}

.search_bar {
  padding-left: 2rem;
  display: flex;
}

.network_name {
  margin-top: 1rem;
  margin-left: 2.5rem;
}

.network_buttons {
  margin-top: 10rem;
  display: flex;
  justify-content: space-around;
}
button {
  width: 20vw;
}
ul {
  padding-left: 0rem;
}

ul li {
  list-style-type: none;
}

#mtn_numbers,
#airtel_numbers,
#glo_numbers,
#nine_mobile_numbers {
  display: none;
}

footer {
  position: fixed;
  bottom: 0;
  text-align: center;
  width: 100%;
  background-color: bisque;
}
